{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/visits_log

    Example context (json):
    {
         "records": [
            {
                "time": "2025-01-15 12:00",
                "user": "John Doe",
                "programme": "Computer Science"
            },
            {
                "time": "2025-01-15 12:05",
                "user": "Jane Doe",
                "programme": "Mathematics"
            }
        ],
        "pagingbar": "<div class=\"paging\">…</div>",
        "csvurl": "http://localhost/report/feedback_tracker/visits_log.php?download=csv&sesskey=abc"
    }
}}

<table class="table table-striped">
    <thead>
    <tr>
        <th>{{#str}} visitslog:time, report_feedback_tracker {{/str}}</th>
        <th>{{#str}} visitslog:user, report_feedback_tracker {{/str}}</th>
        <th>{{#str}} visitslog:programme, report_feedback_tracker {{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#records}}
        <tr>
            <td>{{time}}</td>
            <td>{{user}}</td>
            <td>{{programme}}</td>
        </tr>
    {{/records}}
    </tbody>
</table>

<div>
    {{{ pagingbar }}}
</div>

<a class="btn btn-primary mt-3" href="{{{csvurl}}}">{{#str}} visitslog:download_csv, report_feedback_tracker {{/str}}</a>
